button {
  &.buttonForm {
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    background: #ffdb09;
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    &.no-padd{
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #000000;
      display: block;
      padding: 15px 30px;
    }

    &:focus {
      outline: none;
    }

    &--normal {
      color: #000000;
      font-weight: 700;
      letter-spacing: 4px;
    }

    &--add-user, &--add-course {
      width: auto;
      float: right;
      margin-top: 20px;
    }

    &:hover {
      background: #000000;
      color: #ffdb09;

      a {
        color: #ffdb09;
      }
    }
  }
}