form {
  &.form-login, &.form-add-user, &.form-edit-user, &.form-add-course{
    width: 500px;
    margin: 0 auto;
  }

  .label-form {
    display: block;
    width: 100%;
    font-weight: 300;
    color: #333;
  }

  .input-form {
    width: 100%;
    padding: 15px 20px;
    height: 48px;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid #c5c6ca;
    margin-bottom: 40px;

    &:focus {
      outline: none;
      border-bottom: 1px solid #47494e;
    }
  }

  .checkbox-admin {
    margin-bottom: 40px;
  }

  select {
    padding: 10px;
    width: 100%;
    border: 1px solid #c7c7cb;
    background: none;
    font-size: 18px;
    margin-top: 10px;

    &:focus {
      outline: none;
      border-bottom: 1px solid #47494e;
    }
  }

  .exit-form {
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    background: #ff0909;
    width: 100%;
    font: 700 14px/20px 'Open Sans', sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 4px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;

    &:hover {
      background: #000000;
    }
  }
}
