body,html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;

  .header {
    padding: 15px 0 30px 0;
    border-bottom: 1px solid #f2f2f2;

    .logo {
      float: left;
    }

    .date-container {
      float: left;
      font: 600 12px/16px 'Open Sans', sans-serif;
      margin-left: 50px;
    }

    .login-name {
      float: left;
      font: 600 12px/30px 'Open Sans', sans-serif;
    }

    .menu-container {
      float: left;
      margin-left: 50px;
      position: relative;

      &--icon {
        height: 30px;
        cursor: pointer;
      }

      &--block {
        position: absolute;
        list-style-type: none;
        padding: 0;
        z-index: 1;
        background: #ffdb09;
        margin: 0;
        top: 35px;
        right: 0;

        li {
          border-bottom: 1px solid #efc14e;

          &:last-child {
            border-bottom: none;
          }

          a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            padding: 10px 40px;
            display: block;
            letter-spacing: 2px;

            &:hover, &.nuxt-link-exact-active {
              background: #000000;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    .container--logged {
      float: right;
    }

    &::after {
      clear: both;
      display: table;
      content: '';
    }
  }

  .container {
    width: 1000px;
    padding: 20px 0;
    margin: 0 auto;

    .title-page {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 32px;
    }
  }
  .users-panel-top {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
