body,html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;

  .header {
    padding: 15px 0 30px 0;

    .logo {
      float: left;
    }

    .date-container, .name-day {
      float: left;
      font: 600 12px/30px 'Open Sans', sans-serif;
      margin-left: 50px;
    }

    &::after {
      clear: both;
      display: table;
      content: '';
    }
  }

  .container {
    width: 1000px;
    padding: 20px 0;
    margin: 0 auto;

    .title-page {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 32px;
    }
  }
}
